<div class="container">
    <div class="row pb-5">
        <div class="card mx-auto text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">EMPRESA MAS VENTAS</h5>
              <h5 class="card-title">${{mayorVentas}}</h5>
            </div>
          </div>
          <div class="card mx-auto text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">MES MAS VENTAS</h5>
                <h5 class="card-title">{{mes}}</h5>
            </div>
          </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre Empresa</th>
                <th>Total de Ventas</th>
                <th>Comision</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
            <tr app-empresas-item [empresa]="empresa" *ngFor="let empresa of empresas">
            </tr>
        </tbody>
    </table>
</div>